.open-slide{
    display: block;
    width:40px;
    height: 40px;
    margin: 10px;
    margin-top: 20px;
    float: LEFT;
    cursor: pointer;
    font-weight: 100px;
    
   }
   .fa{
     color:black;
     cursor: pointer;
     font-size: 30px;
   }
   .slide-nav{
     height: 100%;
     width:0;
     position: fixed;
     z-index:1;
     top:0;
     left: 0;
     background-color: #111;
     opacity: 0.9;
     overflow-x: hidden;
     padding-top: 60px;
     transition: 0.5s;
   }
   .slide-nav a{
     padding: 10px 10px 10px 30px;
     text-decoration: none;
     font-size: 22px;
     color: #ccc;
     display: block;
     transition: 0.3s;
   }
   .slide-nav a:hover{
     color:#fff;
 
   }
   .slide-nav .btn-close{
     position: absolute;
     top: 0;
     right: 22px;
     font-size: 36px;
     margin-left: 50px;
 
   }